* {
	padding: 0;
	margin: 0;
}
html {
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #181519;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.display {
	font-size: 1.5rem;
	display: flex;
	width:200px;
	height:50px;
	justify-content: right;
	align-items: center;
	background-color: #329364;
	border: solid;
}

.key {
	font-size: 1rem;
	box-sizing: border-box;
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: #444244;
	border: solid 1px;
}

.key-pressed {
	background-color: grey;
}

